<mat-tab-group animationDuration="0ms" class="mat-elevation-z8">
  <mat-tab label="Tracked Feeds"
    ><app-feed-list
      [feedItemList]="trackedFeedList"
      [displayedColumns]="['feedName', 'delete']"
      (selected)="selected.emit($event)"
    ></app-feed-list
  ></mat-tab>
  <mat-tab label="Custom Feeds">
    <form (submit)="onCreateFeed(newFeed)" #newFeed="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Create a Feed</mat-label>
        <input matInput required name="name" [(ngModel)]="newFeedName" />
      </mat-form-field>
    </form>
    <app-feed-list
      [feedItemList]="customFeedList"
      [displayedColumns]="['feedName', 'public', 'delete']"
      (selected)="selected.emit($event)"
      (deleted)="onDeleteFeed($event)"
      (changeStatus)="onChangeStatus($event)"
    ></app-feed-list
  ></mat-tab>
</mat-tab-group>
