.table {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.is-clicked {
  font-weight: bold;
}

.mat-row:hover .mat-cell {
  background-color: lightgray;
}

.please {
  height: 2px;
  min-height: 1px;
}

td {
  height: 2px;
  min-height: 1px;
}
