<table
  ngif="feedItemList"
  mat-table
  [dataSource]="feedItemList"
  class="mat-elevation-z8"
  fxFill
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="feedName">
    <th mat-header-cell *matHeaderCellDef>Feed Name</th>
    <td class="please" mat-cell *matCellDef="let element">
      <p class="please">{{ element.name }}</p>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="public">
    <th mat-header-cell *matHeaderCellDef>Public</th>
    <td class="please" mat-cell *matCellDef="let element">
      <mat-checkbox
        color="primary"
        [(ngModel)]="element.isPublic"
        (click)="
          changeStatus.emit(element.name); $event.stopImmediatePropagation()
        "
      ></mat-checkbox>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="please" mat-cell *matCellDef="let element">
      <button
        (click)="deleted.emit(element.name); $event.stopImmediatePropagation()"
        mat-icon-button
      >
        <mat-icon color="warn">close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr class="please" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    class="please"
    mat-row
    (click)="selected.emit(row)"
    [class.is-clicked]="selectedFeed ? row.name == selectedFeed.name : false"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
