  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="logo">
    <th mat-header-cell *matHeaderCellDef> Logo </th>
    <td mat-cell ><img src = {{stock.logo}}> </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell > {{stock.ticker}} </td>
  </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell > 10 </td>
    </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="marketCap">
    <th mat-header-cell *matHeaderCellDef> Market Cap </th>
    <td mat-cell > {{stock.marketCapitalization}} </td>
  </ng-container>